
/*
  Examples do not require to be ugly
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  color: #a0a0a0;
  font-family: monospace;

  position: relative;
  overflow: visible;
  min-width: 100%;
  min-height: 100%;
}

a,
a:link,
a:hover,
a:visited,
a:focus {
  color: #B4F083;
}

#tasks > li {
  cursor: pointer;
  margin-bottom: 4em;
}

.layout {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.layout > .column {
  width: 50%;
  overflow: auto;
  position: absolute;
  min-height: 100%;
  padding: 1em;
}
.layout > .right {
  right: 0;
}


.form-group {
  overflow: visible;
  padding: 1em 0;
  margin-bottom: 1em;
}

.control-label,
.form-control {
  float: left;
}

.control-label,
.form-control input{
  vertical-align: middle;
  line-height: 2em;
}

.control-label {
  text-align: right;
  width: 33%;
  padding: 0 1em 0 0;
}
.form-control {
  width: 66%;
  padding: 0 0 0 1em;
}

.form-control input[type="text"]{
  width: 100%;
}
