<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet>
    <servlet-name>Process Starter Servlet</servlet-name>
    <servlet-class>org.camunda.bpm.example.spin.dataformat.servlet.StartProcessServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Process Starter Servlet</servlet-name>
    <url-pattern>/start-process</url-pattern>
  </servlet-mapping>
</web-app>