<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.camunda.bpm.modeler.plugin.customtask">
      <provider
            class="com.mycompany.modeler.tasks.MyCustomTaskProvider">
      </provider>
   </extension>
   <extension
         id="customModeler"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.pde.build.Build"
            name="Extended Modeler">
         <property
               name="appName"
               value="Extended Modeler">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%productName">
         <property
               name="appName"
               value="%productName">
         </property>
      </product>
   </extension>
   <extension
         id="customModeler1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%productName">
         <property
               name="windowImages"
               value="eclipse16.gif,eclipse32.gif,eclipse48.gif,eclipse16.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,225,320,20">
         </property>
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
