<div>
  <h1>
    Cockpit Failed Jobs(<img ng-show="loadingCount"
      src="/camunda/assets/img/ajax-loader.gif" /><a
        help-text="Click to reload the failed jobs count" help=""
        ng-click="loadCount()"
        ng-hide="loadingCount">{{failedJobsCount}}</a>)
  </h1>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Job ID<span ng-show="loading"><i class="icon-loading"></i></span></th>
        <th>Process instance ID</th>
        <th>Exception</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="failedJobs.length">
        <td colspan="3">
          <span ng-show="loading">
            <i class="icon-loading"></i> loading failed jobs...
          </span>
          <span ng-hide="loading">
            There haven't been any failed jobs recently.
          </span>
        </td>
      </tr>
      <tr data-ng-repeat="job in failedJobs">
        <td>
          <span help-text="Process Name: {{job.processDefinitionKey}}" help=""
            help-placement="'right'">{{ job.id }}</span>&nbsp;
          <a href="#/process-definition/{{job.processDefinitionId}}"
            help-text="Click to see process definition" help=""
            help-placement="'right'"><strong>&gt;&gt;</strong>
          </a>
        </td>
        <td>
          <a href="#/process-instance/{{job.processInstanceId}}"
            help-text="Click to see process instance view" help=""
            help-placement="'right'">{{ job.processInstanceId }}
          </a>
        </td>
        <td>
          <a target="_blank"
            href="{{jobRestUrl}}/{{ job.id }}/stacktrace"
            help-text="Click to see the exception stacktrace" help=""
            help-placement="'left'">{{ job.exceptionMessage || "No message" }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div paginator total-pages="totalPages" current-page="pageNumber"></div>
</div>