<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <bean id="bankAccountServiceApplication"
    class="org.camunda.bpm.engine.spring.application.SpringServletProcessApplication" />

  <import resource="classpath:spring/engine.xml" />

  <import resource="classpath:spring/beans.xml" />
</beans>
